<<<<<<< Updated upstream
.jumbotron {
	background-image: url("clouds.jpg");
	width:auto;
	height: 450px;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;

}
=======
.jumbotron{
	background-image: url('clouds.jpg');
}
>>>>>>> Stashed changes
